

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.headown{
    width: 100%;
    height: 13%;
    background: #fff;
    box-shadow: 1px 1px 12px 4px #bbb;
    position: relative;
    /*background: #023f26;*/
}

.titulo{
    font-size: 1em;
    margin-left: 1px;
    margin-top: 0;
    /* margin-bottom: 5px; */
    color: #023f26;
}

.linea{
  width: 100%;
  height: 8%;
  background: #023f26
}

.pospromo{
  position: absolute;
  left: 80%;
  top: 77%;
}

.logo{
    height: 80%;
    margin-left: 2%;
    margin-top: 2px;
}

.divseleccion{
    background: rgb(238, 237, 236);
}

.divupselect{
    height: 14%;
}

.divdownselect{
    height: 83%;
}

.divcenterselect{
    width: 53%;
    margin-left: 5%;
    float: left;  
}

.posbutonbebidas{
    position: relative;
    left: 30px;
    top: 400px;
}

.newst{
    width: 90%;
    height: 7em;
    margin-top: 1em;
    text-align: center;
    padding-top: 1em;
    margin-left: 5%;
}

.newst2{
    width: 80%;
    height: 5em;
    margin-top: 3em;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 1em;
}

.divbtn{
    float: right;
    margin-right: 10%;
    width: 25%;
    padding-top: 60px;
}

.posbutonalimentos{
    position: relative;
    left: 190px;
    top: 400px;
    width: 200px;
    background-color: transparent;
    color: black;
    border: 2px solid #fff; 
}

.sth2{
    color: #023f26;
    /* text-align: center; */
    padding-top: 1em;
    padding-left: 3em;
}

html,
body, {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica", sans-serif;
  color: black;
  transition: background-color 0.2s;
}

.inspired-by {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 14px;
}

.wrapper {
  position: sticky;
  width: 100%;
  height: 100%;
}

.carta {
  display: block;
  position: absolute;
  top: 0px;
  margin: 0 auto;
  width: 350px;
  background-color: #023f26;
  border-radius: 15px;

  

  transform: translateX(-50%);
  transition: left 0.5s ease-out;
  will-change: left;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.card--19 {
  left: 50%;
  border-radius: 4px;
  box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.14);
}

.card--solstice{
  left: 20%;
  border-radius: 4px;
  box-shadow: -6px 6px 4px 0 rgba(0, 0, 0, 0.14);
}
.card--huarache{
  left: 80%;
  border-radius: 4px;
  box-shadow: -6px 6px 4px 0 rgba(0, 0, 0, 0.14);
}



.card__header {
  position: relative;
  height: 90px;
  padding: 30px 30px 300px;
  
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  color: black;
}

.card__header--19 {
  background-color: #1A4C1D;
  background-image: linear-gradient(#FFF, #FFF);

  background: #1A4C1D;
 background: linear-gradient(#FFF,#FFF);
 border-radius: 4px 4px 0 0;
}

.card__header--solstice {
  background-color: #1A4C1D;
  background-image: linear-gradient(#FFF, #FFF);

  background: #1A4C1D;
 background: linear-gradient(#FFF,#FFF);
 border-radius: 4px 4px 0 0;
}

.card__header--huarache {
  background-color: #FFF;
  background-image: linear-gradient(#FFF, #1A4C1D);

  background: #1A4C1D;
  background: linear-gradient(#FFF,#FFF);
  border-radius: 4px 4px 0 0;
}

.card__watermark {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.card__watermark::after {
  content: attr(data-watermark);
  position: relative;
  left: -20px;
  color: rgba(0, 0, 0, .3);
  font-size: 240px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__logo {
  width: 50px;
  height: auto;
}

.card__price {
  float: right;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.card__title {
  margin: px 0 20px;
  font-size: 15px;
  line-height: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Roboto", "Helvetica", sans-serif;
  color: black;

}

.card__subtitle {
  display: block;
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", sans-serif;
  color: black;
  letter-spacing: 1px;
  text-align: justify;
  line-height: normal;
  margin: 0;
  padding: 0;
    
}

.card__body {
  position: relative;
  padding: 40px 30px 20px;
  border-radius: 15px;
 
}

.card__image {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 30px;
  width: 70%;
}
.card__image2 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 110px;
  width: 30%;
}
.card__image3 {
  z-index: 1;
  position: absolute;
  top: -180px;
  left: 56px;
  width: 70%;
}
.card__image4 {
  z-index: 1;
  position: absolute;
  top: -180px;
  left: 75px;
  width: 65%;
}
.card__image5 {
  z-index: 1;
  position: absolute;
  top: -226px;
  left: 66px;
  width: 65%;
}
.card__image6 {
  z-index: 1;
  position: absolute;
  top: -180px;
  left: 105px;
  width: 40%;
}
.card__image7 {
  z-index: 1;
  position: absolute;
  top: -190px;
  left: 90px;
  width: 54%;
}

.card__image8 {
  z-index: 1;
  position: absolute;
  top: -180px;
  left: 50px;
  width: 53%;
}

.card__image9 {
  z-index: 1;
  position: absolute;
  top: -290px;
  left: 70px;
  width: 53%;
}
.card__image10 {
  z-index: 1;
  position: absolute;
  top: -226px;
  left: 58px;
  width: 72%;
}

.card__image11 {
  z-index: 1;
  position: absolute;
  top: -190px;
  left: 80px;
  width: 50%;
}

.card__image12 {
  z-index: 1;
  position: absolute;
  top: -220px;
  left: 63px;
  width: 60%;
}
.card__image13 {
  z-index: 1;
  position: absolute;
  top: -204px;
  left: 100px;
  width: 43%;
}

.card__image14 {
  z-index: 1;
  position: absolute;
  top: -210px;
  left: 100px;
  width: 34%;
}
.card__image15 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 30px;
  width: 90%;
}
.card__image16 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 50px;
  width: 80%;
}

.card__image17 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 50px;
  width: 80%;
}
.card__image18 {
  z-index: 1;
  position: absolute;
  top: -160px;
  left: 86px;
  width: 50%;
}
.card__image19 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 80px;
  width: 60%;
}

.card__image20 {
  z-index: 1;
  position: absolute;
  top: -170px;
  left: 86px;
  width: 50%;
}
.card__image21 {
  z-index: 1;
  position: absolute;
  top: -180px;
  left: 70px;
  width: 70%;
}
.card__image22 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 50px;
  width: 80%;
}

.card__image23 {
  z-index: 1;
  position: absolute;
  top: -200px;
  left: 80px;
  width: 53%;
}



.card__wish-list {
  display: block;
  width: 70%;
  margin: 0 auto 5px;
  padding: 20px;
  border: 2px solid #1a4c1d;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.card__wish-list--19 {
  color: #FFF;
  border-color: #FFF;
}

.card__wish-list--solstice {
  color: #FFF;
  border-color: #FFF;
}

.card__wish-list--huarache {
  color: #FFF;
  border-color: #FFF;
}

.card__category {
  display: block;
  font-size: 12px;
  color: rgb(174, 174, 174);
  text-transform: uppercase;
  text-align: center;
}

.card__will-animate {
  will-change: transform;
}

.cards-placeholder {
  display: block;
  position: relative;
  margin-bottom: 0px;
  text-align: center;
}

.cards-placeholder__item {
  opacity: 0.3;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  width: 30px;
  height: 5px;
  border-radius: 5px;

  transition: opacity 0.2s;
  will-change: opacity;
}

.cards-placeholder__item--active {
  opacity: 1;
}

#linea {
    height: 1%;
    width: 100%;
    background-color: #1A4C1D;
    }
    
    body{
      
      margin: 0;
    }
    
    #menu {
    height: 19%;
    width: 100%;
    background-color: #F7F7F7;
    }
     
    #slices {
    height: 75%;
    width: 100%;
    }
    #imagen1 {
    height: 100%;
    width: 50%;
    background-color: #E9E6E1;
        float: right;
    }
     #imagen2 {
    height: 100%;
    width: 50%;
    background-color: #E9E6E1;
         float:left;
    }
    #foto {
    height: 90%;
    width: 60%;
    background-color: #E5E8E8;
    margin-left: 20%;
    margin-top: 5%;
    border-radius: 15px;
    }
     #foto1{
          -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       height: 100%;
       width: 100% ;
       text-align: center;
         border-radius: 15px;
    }
     #foto12{
          -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       height: 100%;
       width: 100% ;
       text-align: center;
         border-radius: 15px;
    }
     
     
    #contenedor {
    width: 100%;
    height: 100%;
    }
     
    #abajo {
    height: 5%;
    width: 100%;
    background-color: #1A4C1D;
    }
