<div [hidden]="!mostrar_promociones" style="height:100%">
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>
<div class="card" style="height:90%; margin:0">
<ngb-carousel *ngIf="images">
<ng-template ngbSlide>
  <img [src]="images[0]" alt="Random first slide">
  <div class="carousel-caption">
    </div>
</ng-template>

<ng-template ngbSlide>
  <img [src]="images[1]" alt="Random second slide">
  <div class="carousel-caption">
    </div>
</ng-template>

<ng-template ngbSlide>
  <img [src]="images[2]" alt="Random second slide">
  <div class="carousel-caption">
    </div>
</ng-template>

<!--
<ng-template ngbSlide>
  <img [src]="images[2]" alt="Random third slide">
  <div class="carousel-caption">
    <h3>Third slide label</h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
  </div>
</ng-template>
-->
</ngb-carousel>

<div>
<a class="button2 special2 pospromo"  (click)="seleccion()">COMENZAR</a>

</div>



</div>
</div>


<div style="width:100%; height:90%" [hidden]="!mostrar_inicio" >
<div class="landing scrollhide">
  <div id="page-wrapper">

    <header id="header" class="alt"> 	

      <h1><a href="index.html">Inicio </a></h1>
    </header>

    <section id="banner">
      <div class="divfull">
        <div class="inner poscomenzar2">
          <h2>STARBUCKS</h2>
          <p>Si tu cafe no es perfecto<br />
          es por que no estas en<br />
          STARBUCKS.</p>
          <ul class="actions">
            <li><a (click)="promociones()"  class="scrolly button special">PROMOCIONES</a></li>
          </ul>
        </div>
        
        <div>
          <a class="button2 special2 " (click)="seleccion()"  >COMENZAR</a>
        </div>
      </div>
    </section>
</div>
</div>
</div>

<div  style="height:100%" [hidden]="!mostrar_seleccion">
  <div class="headown">
    <div class="linea"></div>
    <img src="../../assets/images/sb.png"  class="logo">
    <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">
    <div class="divupselect">
      <h2 class="sth2"> Elige tu producto </h2>
      
        </div>
    <div class="divdownselect">
      <div class="divcenterselect">
        <div class="card" style="margin-top:0">
            <h5 style="color: black; margin:0" > ¡Nuestro momento favorito: verte!</h5>
        <img style="border-radius: 6px;" src="../../assets/images/elige2.png">
      </div>
      </div>
      <div class="divbtn">
        <div class="card">
          <a class="button2 special2 newst" (click)="bebidas()"  >Bebidas</a>
          <a class="button2 special2 newst" (click)="alimentos()"  >Alimentos</a>
          <a class="button2 special2 newst2" (click)="inicio()"  >Inicio</a>
        </div>
      </div>
    </div>

</div>

</div>

<!--*************************************BEBIDAS***********************************************-->
<div style="height:100%" [hidden]="!mostrar_bebidas">

  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>
    <div style="height:87%; width:100%;" class="divseleccion">
      <div class="cards-placeholder">
        <div class="cards-placeholder__item"></div>
        <div class="cards-placeholder__item"></div>
        <div class="cards-placeholder__item"></div>
      </div>
      <div class="wrapper" style="height: 90%;">
         
          <a class="button2 special2 "style="position: absolute; left: 95px;
          top: 535px;  "(click)="seleccion()"  >Regresar</a>
        

        <!-- primera carta -->
        <div class="carta card--19">
          <div class="card__header card__header--19">
            <div class="card__watermark" data-watermark=""></div>
  
            
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Café</h1>
            <span class="card__subtitle card__will-animate">El café es la bebida que se obtiene a partir de los granos tostados y molidos de los frutos de la planta del café (cafeto).</span>
  
          </div>
  
          <div class="card__body">
            <img src="../../assets/images/cafe2.png" alt="Nike 19" class="card__image card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="cafes()">Elegir</a>
  
            <span class="card__category card__will-animate"></span>
          </div>
        </div>
       
  
        <!-- Nike Solstice -->
        <div class="carta card--solstice">
          <div class="card__header card__header--solstice">
            <div class="card__watermark" data-watermark=""></div>
  
           
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Té</h1>
            <span class="card__subtitle card__will-animate">
              El té es una infusión de las hojas y brotes de la planta del té.</span>
        </div>
  
          <div class="card__body">
            <img src="../../assets/images/te2.png" alt="Nike Solstice" class="card__image card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="tees()">Elegir</a>
          </div>
        </div>
  
        
        <div class="carta card--huarache">
          <div class="card__header card__header--huarache">
            <div class="card__watermark" data-watermark=""></div>
  
            
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Frapuccino</h1>
            <span class="card__subtitle card__will-animate">Es una marca registrada de bebidas de café congelados vendidos por Starbucks.</span>
  
          </div>
  
          <div class="card__body">
            <img src="../../assets/images/frapuccino.png" alt="Nike Huarache" class="card__image2 card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="frapes()">Elegir</a>
          </div>
        </div> 
  
         
      </div> 
    </div>
</div>
<!--*************************************ALIMENTOS***********************************************-->
<div style="height:100%" [hidden]="!mostrar_alimentos">
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>
    <div style="height:87%; width:100%;" class="divseleccion">

      <div class="cards-placeholder">
        <div class="cards-placeholder__item"></div>
        <div class="cards-placeholder__item"></div>
      </div>
      <div class="wrapper" style="height: 90%;">
  
          <a class="button2 special2 "style="position: absolute; left: 95px;
          top: 535px;  "(click)="seleccion()"  >Regresar</a>

        <!-- primera carta -->
        <div class="carta card--19" style="webkit-box-shadow: none;">
          <div class="card__header card__header--19">
            <div class="card__watermark" data-watermark=""></div>
  
            
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Desayunos</h1>
            <span class="card__subtitle card__will-animate">La primer comida del día no sólo nos brinda un momento plancentero sino que además, cobra gran importancia para cuidar del organismo.</span>
  
          </div>
  
          <div class="card__body">
            <img src="../../assets/images/panini.png" alt="Nike 19" class="card__image4 card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="desayunos()">Elegir</a>
  
            <span class="card__category card__will-animate"></span>
          </div>
        </div>
       
  
        <!-- Nike Solstice -->
        <div class="carta card--solstice" style="webkit-box-shadow: none;">
          <div class="card__header card__header--solstice">
            <div class="card__watermark" data-watermark=""></div>
  
            
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Panaderia</h1>
            <span class="card__subtitle card__will-animate">Nuestros panes dulces y salados se elaboran mediante procesos manuales, la única maquinaria empleada son los hornos y las batidoras</span>
  
          </div>
  
          <div class="card__body">
            <img src="../../assets/images/Croissant.png" alt="Nike Solstice" class="card__image3 card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="panaderia()">Elegir</a>
  
            <span class="card__category card__will-animate"></span>
          </div>
        </div>
  
        
        <div class="carta card--huarache " style="webkit-box-shadow: none;">
          <div class="card__header card__header--huarache">
            <div class="card__watermark" data-watermark=""></div>
  
            
  
            <span class="card__price card__will-animate"></span>
  
            <h1 class="card__title card__will-animate">Antojos</h1>
            <span class="card__subtitle card__will-animate">Son un apetito especial que se caracterizan porque no se satisfacen con un sustituto, son urgentes, no admiten postergación y producen una satisfacción especial.</span>
  
          </div>
  
          <div class="card__body">
            <img src="../../assets/images/galleta.png" alt="Nike Huarache" class="card__image5 card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="antojos()">Elegir</a>
          </div>
        </div> 
  
         
      </div> 

    </div>
</div>

<!--*************************************TEES***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_tees">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
    <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">
        
        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

         

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Peach Green Tea Lemonade</h1>
          <span class="card__subtitle card__will-animate"> Es una variante del café con leche. Como éste, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/otro.png" alt="Nike 19" class="card__image6 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Strawberry Green Tea Lemonade</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, que en ocasiones lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/red.png" alt="Nike Solstice" class="card__image7 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Mint Blend</h1>
          <span class="card__subtitle card__will-animate">Los mejores ingredientes merecen los mejores utensilios. Nosotros estamos convencidos de que si algo necesario no se puede obtener hecho, hay que crearlos</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/green.png" alt="Nike Huarache" class="card__image8 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>
        </div>
      </div> 
  </div>
</div>
</div>


<!--*************************************FRAPES***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_frapes">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
    <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>


      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Cafe</h1>
          <span class="card__subtitle card__will-animate">Esta opción refrescante y energética cuya legión de entusiastas no deja de crecer en todo el mundo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/cafefrapuccino.png" alt="Nike 19" class="card__image12 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Cajeta</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, que en ocasiones lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/cajeta.png" alt="Nike Solstice" class="card__image13 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Chip</h1>
          <span class="card__subtitle card__will-animate">Mezclamos salsa de moca y chips de Frappuccino con café, leche y hielo, luego cubrimos con crema batida y llovizna de moca.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/chip.jpg" alt="Nike Huarache" class="card__image14 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="vasos()">Elegir</a>
        </div>
      </div> 
  </div>
  </div>
</div>

<!--*************************************CAFES***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_cafes">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
      <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Mocha</h1>
          <span class="card__subtitle card__will-animate"> Es una variante del café con leche. Como éste, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/mocha.png" alt="Nike 19" class="card__image9 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Cappuccino</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/capuccino.png" alt="Nike Solstice" class="card__image10 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Espresso</h1>
          <span class="card__subtitle card__will-animate">Los mejores ingredientes merecen los mejores utensilios. Nosotros estamos convencidos de que si algo necesario no se puede obtener hecho, hay que crearlos.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/espresso.png" alt="Nike Huarache" class="card__image11 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>
        </div>
      </div> 
  </div>
  </div>
</div>

<!--*************************************DESAYUNOS***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_desayunos">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
      <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Croissant de Jamón y Queso</h1>
          <span class="card__subtitle card__will-animate"> Es una variante del café con leche. Como éste, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/crossaint.png" alt="Nike 19" class="card__image15 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Panini Tres Quesos</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, que en ocasiones lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/panini3.png" alt="Nike Solstice" class="card__image16 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Panini Mozzarella Y Tomato</h1>
          <span class="card__subtitle card__will-animate">Los mejores ingredientes merecen los mejores utensilios. Nosotros estamos convencidos de que si algo necesario no se puede obtener hecho, hay que crearlo.s</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/panini2.png" alt="Nike Huarache" class="card__image17 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>
        </div>
      </div> 
  </div>
  </div>
</div>

<!--*************************************PANADERIA***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_panaderia">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
      <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Pan de elote</h1>
          <span class="card__subtitle card__will-animate"> Es una variante del café con leche. Como éste, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/panelote.png" alt="Nike 19" class="card__image18 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Dona de Chocolate</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, que en ocasiones lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/dona.png" alt="Nike Solstice" class="card__image19 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Rollo De Canela</h1>
          <span class="card__subtitle card__will-animate">Los mejores ingredientes merecen los mejores utensilios. Nosotros estamos convencidos de que si algo necesario no se puede obtener hecho, hay que crearlo.s</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/rollocanela.png" alt="Nike Huarache" class="card__image20 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>
        </div>
      </div> 
  </div>
  </div>
</div>

<!--*************************************ANTOJOS***********************************************-->
<div  style="height:100%" [hidden]="!mostrar_antojos">
  <div class="headown">
    <div class="linea"></div>
        <img src="../../assets/images/sb.png"  class="logo">
          <label class="titulo">Starbucks </label>
    
  </div>
  <div style="height:87%; width:100%;" class="divseleccion">    
      <div class="cards-placeholder">
      <div class="cards-placeholder__item"></div>
      <div class="cards-placeholder__item"></div>
    </div>
    <div class="wrapper"  style="height: 90%;">

        <a class="button2 special2 "style="position: absolute; left: 95px;
        top: 535px;  "(click)="seleccion()"  >Regresar</a>

      <!-- primera carta -->
      <div class="carta card--19">
        <div class="card__header card__header--19">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Barra Saludable</h1>
          <span class="card__subtitle card__will-animate"> Es una variante del café con leche. Como éste, suele llevar un tercio de expreso y dos tercios de leche vaporizada, pero se añade una parte de chocolate, normalmente en forma de jarabe de chocolate.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/barra.png" alt="Nike 19" class="card__image21 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>
     

      <!-- Nike Solstice -->
      <div class="carta card--solstice">
        <div class="card__header card__header--solstice">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Galleta Sugar Free</h1>
          <span class="card__subtitle card__will-animate">Es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para crear la espuma, que en ocasiones lleva también cacao o canela en polvo.</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/galleta2.png" alt="Nike Solstice" class="card__image22 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>

          <span class="card__category card__will-animate"></span>
        </div>
      </div>

      
      <div class="carta card--huarache">
        <div class="card__header card__header--huarache">
          <div class="card__watermark" data-watermark=""></div>

          

          <span class="card__price card__will-animate"></span>

          <h1 class="card__title card__will-animate">Mentas</h1>
          <span class="card__subtitle card__will-animate">Los mejores ingredientes merecen los mejores utensilios. Nosotros estamos convencidos de que si algo necesario no se puede obtener hecho, hay que crearlo.s</span>

        </div>

        <div class="card__body">
          <img src="../../assets/images/mentas.png" alt="Nike Huarache" class="card__image23 card__will-animate">
          <a class="card__wish-list card__wish-list--solstice card__will-animate" (click)="caja()">Elegir</a>
        </div>
      </div> 
  </div>
  </div>
</div>

<div  style="height:100%" [hidden]="!mostrar_vasos">
  <app-preparacion [origen]="origen_ventana" (boton)="click($event)"></app-preparacion>
</div>
<div  style="height:100%" [hidden]="!mostrar_leche">
    <app-leche (boton)="click($event)" ></app-leche>
  </div>
  <div  style="height:100%" [hidden]="!mostrar_extra">
    <app-extra (boton)="click($event)" ></app-extra>
  </div>
  <div  style="height:100%" [hidden]="!mostrar_crema">
    <app-crema-batida (boton)="click($event)"></app-crema-batida>
  </div>
<div  style="height:100%" [hidden]="!mostrar_caja">
  <app-caja></app-caja>
</div>




