.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
}

.headown{
    width: 100%;
    height: 10%;
    background: #fff;
    
    /*background: #023f26;*/
}

.titulo{
    font-size: 1em;
    margin-left: 1px;
    margin-top: 0;
    /* margin-bottom: 5px; */
    color: #023f26;
}

.linea{
    width: 100%;
    height: 6px;
    background: #023f26;
}

.pospromo{
    position: absolute;
    right: 5%;
    bottom: 7%;
}

.logo{
    height: 80%;
    margin-left: 2%;
    margin-top: 2px;
}

.divseleccion{
    background: rgb(238, 237, 236);
}

.divupselect{
    height: 15%;
}

.divdownselect{
    height: 83%;
}

.divcenterselect{
    width: 50%;
    margin-left: 10%;   
}
