<div [hidden]="!mostrar_promociones" style="height:100%">
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>
<div class="card" style="height:90%; margin:0">
<ngb-carousel *ngIf="images">
<ng-template ngbSlide>
  <img [src]="images[0]" alt="Random first slide">
  <div class="carousel-caption">
    </div>
</ng-template>

<ng-template ngbSlide>
  <img [src]="images[1]" alt="Random second slide">
  <div class="carousel-caption">
    </div>
</ng-template>
<!--
<ng-template ngbSlide>
  <img [src]="images[2]" alt="Random third slide">
  <div class="carousel-caption">
    <h3>Third slide label</h3>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
  </div>
</ng-template>
-->
</ngb-carousel>

<div>
<a href="productos" class="button2 special2 pospromo"  (click)="seleccion()"  >COMENZAR</a>

</div>



</div>
</div>


<div style="width:100%; height:90%" [hidden]="!mostrar_inicio" >
<div class="landing scrollhide">
  <div id="page-wrapper">

    <header id="header" class="alt"> 	

      <h1><a href="index.html">Inicio </a></h1>
    </header>

    <section id="banner">
      <div class="divfull">
        <div class="inner poscomenzar2">
          <h2>STARBUCKS</h2>
          <p>Si tu cafe no es perfecto<br />
          es por que no estas en<br />
          STARBUCKS.</p>
          <ul class="actions">
            <li><a (click)="promociones()"  class="scrolly button special">PROMOCIONES</a></li>
          </ul>
        </div>
        
        <div>
          <a class="button2 special2" (click)="seleccion()"  >COMENZAR</a>
        </div>
      </div>
    </section>
</div>
</div>
</div>



<div  style="height:90%" [hidden]="!mostrar_seleccion">

<!-- el codigo de seleccionar comida o bebida-->

</div>