<div style="height:100%" >
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>

    <div class="divbody">
        
        <div class="items">
          <div class="divupselect">
            <h3 class="sth2"> Tus productos </h3>
          </div>
          <a class="button2 special2 btn-new-prod" (click)="bebidas()"  >+ Agregar otro</a>
         
          <hr class="linea-sombra"> 
        <!--  <ul class="ulitems">
            <li *ngFor="let menuItem of menuItems" class="liimg" >
                <img class="sizeimg" src="{{menuItem.path}}" > 
                <p>{{menuItem.title}}</p>
            </li>
          </ul>
        -->
        <div class="divcarrito">
            <div *ngFor="let menuItem of menuItems" class="producto" >
                <div class="pname"><span class="spanproducto">{{menuItem.producto}}</span></div>
                <div class="divcantidad">
                    <label class="precio">{{menuItem.precio}}</label>   
                </div>
     
                <div class="divcantidad">
                  <a class="button2 special2 btnmenos" >-</a>
                  <label class="inputcantidad">{{menuItem.cantidad}}</label>   
                  <a class="button2 special2 btnmas" >+</a>      
                </div>
                <div class="divcantidad2">
                    <label class="precio">{{menuItem.precio*menuItem.cantidad}}</label>   
                </div>
   
            </div>
        </div>
        <a class="button2 special2 btn-cancel-prod" (click)="bebidas()"  > cancelar</a>
        <a class="button2 special2 btn-pay-prod" (click)="bebidas()"  > pagar</a>



        </div>

      </div>

</div>        
