<div style="height:100%" >
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>

    <div class="divbody">
            
        <div class="items">
          <div class="divupselect">
            <h3 class="sth2"> Tus productos </h3>
          </div>
          <a class="button2 special2 btn-new-prod" (click)="nuevo_producto()"  >+ Agregar otro</a>
         
          <hr class="linea-sombra"> 
        <!--  <ul class="ulitems">
            <li *ngFor="let listaproducto of listaproductos" class="liimg" >
                <img class="sizeimg" src="{{listaproducto.path}}" > 
                <p>{{listaproducto.title}}</p>
            </li>
          </ul>
        -->
        <div class="divcarrito">
            <div class="productotitulo" >
                    <div class="pnametitulo"><span class="spanproducto">Producto</span></div>
                    <div class="divtitulocantidad" style="margin-right:5%">
                        <span style="margin-left: 3%;" class="spanproducto">Precio Unitario</span>   
                    </div>
            
                    <div class="divtitulocantidad">
                        <span class="spanproducto">Cantidad</span>    
                    </div>
                    <div class="divtitulocantidad2">
                        <span style="margin-left: 3%;" class="spanproducto">Precio</span>   
                    </div>
                    <div class="divtitulocantidad">
                        <span style="margin-left: 3%;" class="spanproducto">Eliminar Producto</span>   
                    </div>
        
            </div>
            <div *ngFor="let listaproducto of listaproductos" class="producto" >
                <div class="pname"><span class="spanproducto">{{listaproducto.nombre}}</span></div>
                <div class="divcantidad" style="margin-right:2%">
                    <label class="precio">$ {{listaproducto.precio}}</label>   
                </div>
     
                <div class="divcantidad">
                  <a class="button2 special2 btnmenos" (click)="resta(listaproducto.producto)">-</a>
                  <label class="inputcantidad">{{listaproducto.cantidad}}</label>   
                  <a class="button2 special2 btnmas" (click)="suma(listaproducto.producto)">+</a>      
                </div>
                <div class="divcantidad2">
                    <label class="precio">$ {{listaproducto.precio*listaproducto.cantidad}}</label>   
                </div>
                <div class="diveliminar">
                    <a class="button2 special2 btneliminar" (click)="eliminar_producto(listaproducto)"><i class="fa fa-trash"></i></a>   
                </div>
                
   
            </div>
        </div>
        <a class="button2 special2 btn-cancel-prod" (click)="cancelar()"  > cancelar</a>
        <a class="button2 special2 btn-pay-prod" (click)="bebidas()"  > pagar</a>



        </div>

      </div>

</div>        
