.div-move-window{
    height: 14%;
}

.div-up{
    height: 80%;
}

.headown{
    width: 100%;
    height: 10%;
    background: #fff;
    
    /*background: #023f26;*/
}

.divbody{
    background: rgb(238, 237, 236);
}

.linea{
    width: 100%;
    height: 6px;
    background: #023f26;
}

.logo{
    height: 80%;
    margin-left: 2%;
    margin-top: 2px;
}

.titulo{
    font-size: 1em;
    margin-left: 1px;
    margin-top: 0;
    /* margin-bottom: 5px; */
    color: #023f26;
}