<div style="height:100%" >
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>

    <div style="height:90%; width:100%;" class="divbody">
      <div class="divupselect">
        <div class="titulo-color">
          <h2 class="sth2"> Elige el tamaño </h2>
        </div>
      </div>
      <div class="div-up">
        <div class="items">
          <ul class="ulitems">
            <li *ngFor="let menuItem of menuItems" class="liimg" >
                <img class="sizeimg" src="{{menuItem.path}}" > 
                <p>{{menuItem.title}}</p>
            </li>
          </ul>
        </div>
        <div class="vaso"></div>
      </div>
      <!-- AQUI PON EL CODIGO DE BEBIDAS-->
      <div class="div-move-window"> </div>

    </div>
</div>