
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<div style="height:100%" >
  <div class="headown">
      <div class="linea"></div>
      <img src="../../assets/images/sb.png"  class="logo">
      <label class="titulo">Starbucks </label>
      
    </div>

    <div class="divbody">
      <div class="divupselect">
        <div class="titulo-color">
          <h2 class="sth2"> Elige el tamaño </h2>
        </div>
      </div>
      <div class="s1" (click)="vaso1()" style="position: absolute;  left: 3.8%; top: 31%; font-family:sans-serif; ; height: 211px; width: 211px;"> </div>
      <div class="s2" (click)="vaso2()" style="position: absolute;  left: 20.8%; top: 31%; font-family:sans-serif; ; height: 211px; width: 211px;"> </div>
      <div class="s3" (click)="vaso3()" style="position: absolute;  left: 37.8%; top: 31%; font-family:sans-serif; ; height: 211px; width: 211px;"> </div>
      <div class="s4" (click)="vaso4()" style="position: absolute;  left: 54.8%; top: 31%; font-family:sans-serif; ; height: 211px; width: 211px;"> </div>
      <div class="div-up">

        <div class="items">
           
          <ul class="ulitems">
            <li *ngFor="let menuItem of menuItems" class="liimg" >
                <img class="sizeimg" src="{{menuItem.path}}" > 
                <p style="color:black; text-align: center; font-family:sans-serif; ">{{menuItem.title}}</p>
            </li>
          </ul>
        </div>
        <div class="vaso">
          <div style="position: relative;">
            <div style="position: absolute; left: 65px; top: 30px; font-family:sans-serif; color: black;">PROGRESO </div>
            
          </div>
          <div style="position: relative;">
             <div style="position: absolute; left: 0px; top: 60px; ">
                <img src="../../assets/images/vaso01.png" width="245" height="280" border="0">
             </div>
            </div>

        </div>
      </div>
      <a class="button2 special2 "style="position: absolute; left: 95px;
      top: 75%; box-shadow: -6px 6px 4px 0 rgba(0, 0, 0, 0.14);  "(click)="regresar()"  >Regresar</a>
      <a class="button2 special2 "style="position: absolute; left: 800px;
      top: 75%; box-shadow: -6px 6px 4px 0 rgba(0, 0, 0, 0.14); "(click)="siguiente()"  >Siguiente</a>
      <a class="scrolly button special"style="position: absolute; left: 1126px;
      top: 75%; cursor: pointer; display: inline-block; font-size: 0.8em; font-weight: 600;
       height: 5.125em; width: 13em; letter-spacing: 0.225em; line-height: 5.125em; padding: 0 2.75em;
      text-align: center; text-decoration: none; text-transform: uppercase; white-space: nowrap;
       overflow: hidden; text-overflow: ellipsis; box-shadow: -6px 6px 4px 0 rgba(0, 0, 0, 0.14);"
        (click)="seleccion()">CANCELAR</a>

        <style>
        .s1{
           opacity: 0.6;
           border-radius: 4px;
           transition:all .5s ease-in-out;
        }
        .s2{
          opacity: 0.6;
          border-radius: 4px;
          transition:all .5s ease-in-out;
        }
        .s3{
           opacity: 0.6;
           border-radius: 4px;
           transition:all .5s ease-in-out;
        }
        .s4{
          opacity: 0.6;
          border-radius: 4px;
          transition:all .5s ease-in-out;
        }
        </style>

    </div>
</div>



    